{:paths   ["dev"]
 :deps    {;; current stable
        ;; io.github.nextjournal/clerk       {:mvn/version "0.2.209"} 
        ;; Martin's latest cut which supports 'visibility' and other improvements
           io.github.nextjournal/clerk       {:git/sha "64ce88eb80609ab915b61fbabd46f7d9c8ac1375"} 
           
           com.github.seancorfield/next.jdbc {:mvn/version "1.2.659"}
           scicloj/tablecloth                {:mvn/version "6.012"}
           org.clojure/data.csv              {:mvn/version "1.0.0"}
           org.xerial/sqlite-jdbc            {:mvn/version "3.34.0"}
           clj-http/clj-http                 {:mvn/version "3.10.3"}
           backtick                          {:mvn/version "0.3.4"}
           com.github.jackrusher/mundaneum   {:git/sha "84476918ee47b66a2d6128e1a90780e52fd2ae44"}}
 
 :aliases {;; clj -X:ashnbs
           :ashnbs 
           ;; we might use a version of Clerk which is ahead of main for demo purposes
           ;; "99466cea7c9d906fcacfedafd1486a1f655bc66f" 2021-12-02 the back-to-index-page doesn't work
           {:override-deps {io.github.nextjournal/clerk {:git/sha "99466cea7c9d906fcacfedafd1486a1f655bc66f"}} 
            :extra-paths   ["datasets"]
            :exec-fn       nextjournal.clerk/build-static-app!
            ;; notebooks to be built, accepts globs patterns
            :exec-args     {:bundle? false
                            :paths   ["index.md"
                                      "notebooks/scotgov_datasets.clj"
                                      "notebooks/scotgov_label_first_wikidata.clj"]}}}}
